:root {
    --textColor: white;
    --bgColor: #00010F;
    --accentColor: #64E8B0;
    --darkerBg: rgb(0, 0, 5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--textColor);

}

.tabs>h2 {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
    cursor: default;
}

h3 {
    pointer-events: none;
}

body {
    background: var(--bgColor);
}

html {
    scroll-behavior: smooth;
}

img {
    opacity: 0;
    transition: opacity .3s ease-out;
}

h3::selection,
p::selection {
    background: var(--accentColor);
    color: white;
}

.gallery-btn {
    margin-top: 30px;
    padding: 10px;
}

.gallery-btn a {
    text-decoration: none;
    color: var(--bgColor);
    padding: 20px;
    background: var(--accentColor);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    border-radius: 4px;
}

.register-btn {
    position: fixed;
    bottom: 50px;
    /* padding: 12px; */
    right: 50px;
    z-index: 100;
    background: var(--accentColor);

    border-radius: 6px;
    opacity: 0;
    transition: opacity .2s ease-out;
    box-shadow: 0 0 20px 0px black;
}

.register-btn button {
    height: 70px;

}

.register-btn>h3 {
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    font-weight: 600;
    text-decoration: none;
    line-height: 10px;
    margin-top: 4px;
    text-align: center;
}

.landing-page-btn {
    margin-top: 20px;
    opacity: 1;
    position: relative;
    top: 0;
    right: 0;
    padding: 0;
    z-index: 1;
    border-radius: 6px;
}

.landing-page-btn button {
    height: 50px;
}

.landing {
    position: relative;
    height: 100vh;
    width: 100%;
    padding: 40px;
}

.img1,
.img2 {
    position: absolute;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro-cover {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background: var(--darkerBg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-cover-text {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}


.intro-logo-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.img1 {
    bottom: 0;
    left: 0;
    width: 50vw;
}

.img2 {
    top: 0;
    right: 0;
    width: 50vw;
    z-index: -10;
}

.landing-text {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-text h1,
.landing-text h3 {
    text-transform: uppercase;
}

#cia-title {
    font-size: 5rem;
    color: #64E8B0;
}

#hackathon {
    font-size: 4rem;
}

.fade {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    padding-bottom: 30px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(transparent, rgb(0, 0, 5));
}

.fade span {
    position: relative;
    font-weight: bold;
    text-shadow: 0px 0px 30px black;
    cursor: pointer;
}

.fade .down-arrow {
    position: relative;
    margin-top: 5px;
    filter: invert();

    width: 25px;
    height: 25px;
    animation: bounce 1s infinite;

}

.fade>span>a {
    text-decoration: none;
    pointer-events: none;
    color: rgba(255, 255, 255, 0.534);
}

.fade>.nav-links {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.nav-links>p a {
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    pointer-events: none;
}

.nav-links>p {
    cursor: pointer;
}

.nav-links>p:hover a {
    color: var(--accentColor);
    text-decoration: underline;
}

.landing-shade,
.scroll-shade {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100px;
    pointer-events: none;
    background: linear-gradient(to right, transparent, rgb(0, 0, 5));

}

@keyframes bounce {

    100%,
    0% {
        top: 10px;
    }

    50% {
        top: 0px;
    }
}



/* ABOUT */
.about {
    height: auto;
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(0, 0, 5);
}

.about>h1 {
    color: var(--accentColor);
    margin-bottom: 5px;

}

.about>p {
    text-align: center;
    font-size: 1.4rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: calc(1.6*1.2rem);
    color: rgba(255, 255, 255, 0.856);
}


/* FAQSECTION */
.faq {
    height: auto;
    background-color: rgb(0, 0, 5);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 50px;
}

.questions h1 {
    color: var(--accentColor);
}

.questions {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.question {
    margin-top: 10px;
    line-height: 25px;
    width: 80%;
}

.question h3,
.question p {
    color: rgba(255, 255, 255, 0.911);
    letter-spacing: 1px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.answer p {
    color: rgba(255, 255, 255, 0.747);
}

/* SCHEDULE */
.schedule {
    background-color: rgb(0, 0, 5);
    height: auto;
    width: 100%;
    padding: 30px;
    position: relative;
}

.schedule-title {
    width: 100%;
    height: 50px;
    text-align: center;
}

.schedule-section {
    position: relative;
    height: auto;
    width: 100%;
    padding: 0px 10px 0px 10px;

    display: flex;
}

.schedule-section>h3 {
    color: var(--accentColor);
    font-size: 1.5rem;
}

.day2-section {
    display: none;
}

.day1-section {
    /* display: none; */
}

.day-section {
    width: 100%;
}

.day-section h3 {
    text-align: center;
}

.day {

    height: auto;
    overflow: auto;
    /* white-space: nowrap; */

    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 15px;
    margin-bottom: 15px;

    background: rgb(20, 20, 25);
    border-radius: 6px;
    /* padding-left: 15px;
    padding-bottom: 15px; */
    padding-top: 10px;
    padding-bottom: 10px;

}

.tabs {
    /* top: 80vh; */
    bottom: 40px;
    z-index: 50;
    position: sticky;
    display: flex;
    margin-bottom: 15px;
    margin-left: 10px;
    padding-right: 10px;

    transition: opacity .2s ease-out;
}


.tabs>h2 {
    color: rgb(117, 116, 126);
    background: rgb(59, 59, 59);
    border-radius: 5px;
    margin: 10px;
    padding: 20px;

    box-shadow: 0 0 20px 0px black;
}

.tabs>.selected-tab {
    color: black;
    background: var(--accentColor);
    transition: all .1s ease-out;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
    height: 10px;

}

::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 1); */
    background: rgb(15, 15, 20);
    border-radius: 0px;
}


::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(0, 0, 0, .5);
    background: rgb(86, 207, 157);
    /* -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5); */
}

.schedule-section>h3 :nth-child(1) {
    font-weight: 400;
}

.schedule-section>h3 :nth-child(2) {
    font-weight: 100;
    color: var(--accentColor);
}

/* .day :nth-child(1) {
    padding-left: 0;
} */

/* .day :last-child {
    padding-right: 20px;
}
 */
.mmdd {
    color: var(--accentColor);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.schedule-card {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    width: auto;
    height: 100%;

    padding: 0px 20px 0px 20px;

}

.card-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

    border-radius: 4px;
    background: rgba(0, 0, 0, 0.438);
}


.event-desc {
    text-align: center;
    color: rgba(240, 255, 255, 0.925);
    height: fit-content;
}

.card-content::after {
    display: none;
}

.card-content p {
    word-break: normal;
    white-space: normal;
    width: 400px;
    height: auto;
}

.card-content h3 {
    margin: 10px 0 10px 10px;
    line-height: 2.4rem;
}

.card-content :nth-child(2) {
    font-weight: 100;
    color: var(--accentColor);
}

.card-content :nth-child(3) {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    font-size: 1rem;
}

.card-content h3 {
    font-size: 1.5rem;
    font-weight: 400;
}

.timings {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* TRACKS */
.tracks {
    background-color: rgb(0, 0, 5);
    height: auto;
    width: 100%;

    position: relative;
    /* background: orange; */

}

.track-title {
    width: 100%;
    height: 20px;
    margin-bottom: 20px;
    padding: 30px;
    text-align: center;
}

.track-section {
    position: relative;
    height: auto;
    width: 100%;
    padding-left: 30px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    overflow-x: auto;
    padding-top: 15px;
    padding-bottom: 15px;

    background: rgb(15, 15, 20);

}



.track-card {
    margin: 20px;
    width: auto;
    height: auto;
    padding: 20px;
    /* background: rgb(25, 25, 30); */
    background: rgba(0, 0, 0, 0.438);
    border-radius: 6px;
    /* padding: 0px 20px 0px 20px; */


}

.track-content>h1 {

    text-align: center;
    /* position: sticky; */
    bottom: 10px;
}

.track-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

}


.track-content p {
    text-align: center;
    word-break: normal;
    white-space: normal;
    width: 400px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.856);
}

.track-content h1,
.track-content p {
    margin: 5px 0 0px 0px;
}

.track-content :nth-child(1) {
    font-weight: 600;
    color: var(--accentColor);
}

.track-content :nth-child(2) {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    font-size: 1rem;
}

.track-content h1 {
    font-size: 1.5rem;
    font-weight: 400;
}

.track-scroll-shade {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(to right, transparent, rgb(0, 0, 5));
    right: 0;
    bottom: 0;
    pointer-events: none;
}

/* SPONSORS */
.sponsor-section {
    padding-top: 20px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--darkerBg);

}

.sponsor-section>h1 {
    color: var(--accentColor);
}

.mlh-logo {
    margin-top: 30px;
    width: 200px;
    margin-bottom: 30px;
}

.mlh-logo>img {
    width: 100%;
}

/* sponsors */
.sponsors {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.sponsor {
    margin: 20px;
}

.sponsor>.logo {
    width: 250px;

    padding: 20px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sponsor>.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.tsponsor {
    margin: 100px;
}

.tsponsor>.logo {
    width: 500px;

    padding: 20px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tsponsor>.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* CONDUCT SECTION */
.conduct {
    padding: 50px;
    background: var(--darkerBg);
}

.conduct-title {
    margin-bottom: 8px;
}

.conduct-title h1 {
    color: var(--accentColor);
}

.conduct-text p {
    color: rgba(255, 255, 255, 0.774);
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.conduct a {
    color: var(--accentColor);
}

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px;

    background: rgb(15, 15, 20);

    display: flex;
    align-items: stretch;

}

.contact-section {
    height: 200px;
    margin-bottom: 20px;
}

.contact-section>h3 {
    padding-bottom: 10px;
    font-size: x-large;
}

.contact-section>p,
.links p {
    line-height: 22px;

}

.contact-section p {
    letter-spacing: 1px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contact-section a {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--accentColor);
}

.links {
    padding-left: 50px;
    margin-bottom: 20px;
}

.links>h3 {
    color: rgb(146, 146, 146);
    padding-bottom: 15px;
}

.links a {
    color: rgb(119, 119, 119);
    text-decoration: none;
    pointer-events: none;
}

.links p:hover a {
    text-decoration: underline;
}

.links>p {
    cursor: pointer;
    padding-bottom: 3px;
}

.logo {

    margin-left: auto;
}

.logo-img {
    width: 100%;
    height: 50%;


}

.logo-img img {
    width: 150px;
    height: 150px;
    object-fit: cover;

}

.credit {
    margin: 20px;

    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 1px;
}

.credit p {
    color: rgba(255, 255, 255, 0.719);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.credit a {
    color: rgba(100, 232, 177, 0.808);
}

/* MOBILE */
@media only screen and (max-width: 650px) {
    .card-content::after {
        content: "";
        position: absolute;
        background: var(--accentColor);
        /* top: 20px;
        left: -2px; */
        top: 0;
        left: 0;
        height: 100%;
        width: 2px;
        display: block;
    }

    .card-content h3 {
        width: 100%;
    }

    .conduct {
        padding: 30px;
    }

    .conduct-title h1,
    .conduct-text p {
        text-align: center;
        line-height: 30px;

    }

    .conduct-text p {
        font-size: 1.2rem;
        color: rgba(255, 255, 255, 0.863);
    }

    .fade>.nav-links {
        display: none;
    }

    .schedule {
        position: relative;
        padding: 0px;
    }

    .day-section>h3 {
        text-align: center;
    }

    .schedule-title {
        text-align: center;
    }

    .tabs {
        justify-content: center;
        bottom: 80px;

    }

    .day {
        padding-bottom: 15px;
    }

    .schedule-card {
        margin-top: 20px;

        display: inline-block;
        width: auto;
        height: 100%;

        padding: 0px 20px 0px 20px;

    }

    .card-content h3 {
        text-align: left;
    }

    .card-content {
        width: 100%;
        height: min-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: relative;
        background: rgba(0, 0, 0, 0);
        text-align: left;
        padding-top: 10px;
        padding-left: 10px;

    }


    .event-desc {
        text-align: left;
        color: rgba(240, 255, 255, 0.925);
    }

    .schedule-card {
        margin-top: 20px;
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    .card-content>p {
        width: 100%;
    }

    .register-btn {
        bottom: 0;
        right: 0;
        width: 100%;
        border-radius: 0;
        display: flex;
        justify-content: center;
    }

    footer {
        margin-bottom: 60px;
        padding-bottom: 110px;
    }

    .credit {
        margin: 20px;
        margin-left: 50px;
        width: 300px;
        bottom: 20px;
        left: 0;
        transform: translateX(0);
        letter-spacing: 1px;
    }

    .credit p {
        text-align: left;
        color: rgba(255, 255, 255, 0.89);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .credit a {
        color: rgba(100, 232, 177, 0.945);
    }

    .links,
    .logo {
        display: none;
    }

    .track-title h1,
    .questions>.faq-title,
    .cia19>h1 {
        text-align: center;
    }

    .track-content p {
        word-break: normal;
        white-space: normal;
        width: 300px;
        line-height: 1.5rem;
    }

    .track-section :last-child {
        /* padding-right: 20px; */
    }

    .track-section {
        padding-left: 0;
    }

    .track-scroll-shade {
        position: absolute;
        width: 20%;
        height: 100%;
        z-index: 10;
        background: linear-gradient(to right, transparent, rgba(0, 0, 5, .7), rgb(0, 0, 5));
        right: 0;
        bottom: 0;
        pointer-events: none;
    }

    .landing-text {
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .landing-text h1,
    .landing-text h3 {
        margin-left: 20px;
        margin-top: 10px;
        text-transform: uppercase;
    }

    .track-card {
        /* margin: 0; */
        margin-right: 0;
        margin-left: 0;
    }

    #cia-title {
        font-size: 3rem;
        color: #64E8B0;
    }

    #hackathon {
        font-size: 3rem;
    }

    .img1 {
        width: 90vw;
    }

    .img2 {
        width: 80vw;
    }

    .faq {
        height: auto;
        background-color: rgb(0, 0, 5);
        padding-left: 0px;
        padding-right: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .questions {
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .questions h1 {
        margin-left: 40px;
        margin-right: 40px;
    }

    .about {
        height: auto;
        margin-left: 0px;
        margin-right: 0px;
    }

    .about p {
        line-height: 1.8rem;
        font-size: 1.2rem;
        color: rgba(255, 255, 255, 0.952);
    }

    .register-btn svg {
        display: block;
    }

    .landing-page-btn {
        display: flex;
        justify-content: center;
        width: 250px;
        border-radius: 6px;
    }
}

@media only screen and (max-width: 400px) {
    .faq {
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }


}

.registered {
    font-size: 2rem;
}

#devfolio-apply-now,
#devfolio-apply-now2 {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: #64E8B0;
    border-radius: 6px;
    border: none;
    color: #000000;
    cursor: pointer;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 18px;
    font-weight: 600;
    padding: 12px 20px;
    text-align: center;
    text-transform: lowercase;
}

#devfolio-apply-now:not([disabled]) {
    cursor: pointer;
}

#devfolio-apply-now2:not([disabled]) {
    cursor: pointer;
}

#devfolio-apply-now:hover,
#devfolio-apply-now2:hover {
    background-color: #2954BF !important;
    color: white;
}

#devfolio-apply-now svg,
#devfolio-apply-now2 svg {
    filter: invert();
}


/* fade in aminations */
.fadein {
    opacity: 1;
    transition: opacity 800ms ease-out;
}

.fadein :hover {
    opacity: 1;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}


.disclaimer {
    width: 100%;
    height: auto;
    /* position: sticky; */
    top: 0;
    background: var(--darkerBg);
    z-index: 10;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.disclaimer>a {
    z-index: 1000;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 24px;
    border-radius: 4px;
    background: rgb(255, 62, 62);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
    text-transform: uppercase;
}

.fade>.nav-links {
    position: sticky;
    top: 0;
    z-index: 10;
}